# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The production sqlite file
database/tdd.sqlite

# The development sqlite file
database/tdd_test.sqlite

.idea
